Pillow==10.3.0
Deprecated==1.2.18
accelerate==0.34.0
astor==0.8.1
bitsandbytes==0.43.3
datasets==2.21.0
faiss-cpu==1.8.0.post1
faiss-gpu==1.7.2
huggingface-hub==0.24.6
jinja2==3.1.5
jupyterlab==4.2.5
langchain==0.2.17
langchain-community==0.2.19
langchain-core==0.2.43
langchain-huggingface==0.0.3
matplotlib==3.9.2
numpy==1.26.3
ollama==0.3.2
openai==1.43.0
optimum==1.24.0
pandas==2.2.2
peft==0.12.0
python-dotenv==1.0.1
pyyaml==6.0.2
sentence-transformers==3.0.1
streamlit==1.43.0
torch==2.4.1
tqdm==4.66.5
transformers==4.53.0
trl==0.11.4
xformers==0.0.28.post1