Pillow
accelerate
bitsandbytes
faiss-cpu
faiss-gpu
huggingface_hub
jinja2
jupyterlab
langchain
langchain-community
langchain-core
langchain-huggingface
matplotlib
numpy
ollama
openai
optimum
pandas
peft
python-dotenv
pyyaml
sentence-transformers
tiktoken
tqdm
transformers
xformers