Pillow
accelerate
bitsandbytes
faiss-cpu
faiss-gpu
huggingface_hub
jupyterlab
langchain
langchain-community
langchain-core
langchain-huggingface
matplotlib
numpy
openai
optimum
pandas
peft
python-dotenv
pyyaml
sentence-transformers
tqdm
transformers
xformers