{%- for message in messages %}
    {%- if message['role'] == 'System' %}
        {{- bos_token + '**System:**\n' + message['content'] + '\n\n' }}
    {%- elif message['role'] == 'User' %}
        {{- '**User:**\n' + message['content'] + '\n\n'}}
    {%- elif message['role'] == 'Context' %}
        {{- '**Context:**\n' + message['content'] + '\n\n'}}
    {%- elif message['role'] == 'Conversation' %}
        {{- '**Conversation History:**\n' + message['content'] + '\n'}}
    {%- endif %}
{%- endfor %}
{{- '**Assistant Response:** '}}